body {
  background-color: #f3e8ff;
  font-family: "Roboto", sans-serif;
}
body.dark-mode {
  background-color: #2e1a47;
  color: #eeeaf5;
}

.weather-now-app {
  background: #ffffff;
  max-width: 500px;
  margin: 60px auto;
  padding: 30px 40px;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(179, 138, 255, 0.1);
}

body.dark-mode .weather-now-app {
  background: #3b2761;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e0d2f5;
  padding-bottom: 25px;
}

.search-form {
  display: flex;
  gap: 10px;
  flex: 1;
  margin-right: 20px;
}

.search-input {
  background-color: #f8f0ff;
  font-size: 16px;
  border: 1px solid #d1b3ff;
  border-radius: 12px;
  width: 80%;
  padding: 15px 20px;
}

.search-button {
  background-color: #c89efc;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 15px 20px;
  font-size: 16px;
  box-shadow: 0 4px 12px rgba(179, 138, 255, 0.4);
  transition: all 300ms ease;
}

.search-button:hover {
  cursor: pointer;
  background-color: #ae7dfb;
}

#dark-mode {
  border: none;
  background: transparent;
  font-size: 24px;
}

#dark-mode:hover {
  cursor: pointer;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.weather-city {
  margin: 0;
  font-size: 40px;
  line-height: 1.2;
  color: #3b2761;
}
body.dark-mode .weather-city {
  color: #fff;
}

.weather-temperature {
  margin: 0;
  font-size: 55px;
  font-weight: bold;
  color: #3b2761;
}
body.dark-mode .weather-temperature {
  color: #fff;
}
.weather-right {
  text-align: center;
  font-size: 16px;
  padding: 40px 0;
  font-weight: 500;
  line-height: 1.5;
}
.weather-right strong {
  color: #c89efc;
}
.weather-time {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.6);
}

.weather-icon {
  width: 88px;
  height: 88px;
  margin: 0 auto 10px;
}
.weather-description {
  font-size: 16px;
  text-align: center;
}

body.dark-mode .weather-time {
  color: #fff;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.6);
  font-size: 16px;
  line-height: 20px;
  margin-top: 10px;
}

body.dark-mode .weather-forecast-date {
  color: #fff;
}
.weather-forecast-icon {
  display: block;
  margin: 0 auto;
  width: 88px;
  height: 88px;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #c89efc;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temp {
  padding: 0 10px;
}

footer {
  font-size: 14px;
  text-align: center;
  border-top: 1px solid #e0d2f5;
  padding-top: 15px;
  color: #777;
}
footer a {
  color: #885df1;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

body.dark-mode footer {
  color: #bbb;
}

body.dark-mode footer a {
  color: #d1b3ff;
}
